# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django specific
*.log
*.pot
*.sqlite3
local_settings.py
db.sqlite3
media/

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# IDE and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other
.DS_Store
Thumbs.db
